ALTER TABLE [dbo].[COMPOVIDAL] DROP CONSTRAINT FK_COMPOVID_LIEN_116_SPEPRESE
GO

ALTER TABLE [dbo].[COMPOVIDAL] DROP CONSTRAINT FK_COMPOVID_LIEN_117_T_SUB
GO

ALTER TABLE [dbo].[COMPOHOP] DROP CONSTRAINT FK_COMPOHOP_LIEN_13_SPEPRESE
GO

ALTER TABLE [dbo].[COMPOHOP] DROP CONSTRAINT FK_COMPOHOP_LIEN_14_T_SUBHOP
GO

ALTER TABLE [dbo].[LIVRETHOP] DROP CONSTRAINT FK_LIVRETHO_ASSOC_122_SPEPRESE
GO

ALTER TABLE [dbo].[LIVRETVIDAL] DROP CONSTRAINT FK_LIVRETVI_ASSOC_244_SPEPRESE
GO


